* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}