@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('components/Login/index.css');

body {
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, span, p {
    color: #363636;
}

/* Parent page made by Yershov Artem */

.parent-page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

.parent-page__item {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
}

.parent-page__admin {
    text-transform: uppercase;
}

.parent-page__item:hover {
    text-decoration: none;
}

.parent-page__title {
    cursor: pointer;
    text-decoration: underline;
}

.parent-page__title {
    text-decoration: none;
}