.apply-doctor-form {
  background-color: rgb(41, 144, 204);
  color: rgb(243, 247, 250);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.apply-doctor-input {
  border: 2px groove rgb(41, 144, 204);
}
.apply-doctor-button {
  border: 2px groove rgb(41, 144, 204);
  background-color: rgb(243, 247, 250);
  color: rgb(41, 144, 204);
}
